# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"
# Colors in less
export LESS="-eirMX"

# Make bash history behave better
shopt -s histappend
# Larger bash history (allow 500k entries; default is 500)
export HISTSIZE=500000
export HISTFILESIZE=$HISTSIZE
# Refraing from including duplicate lines and lines that start with a space in the history
export HISTCONTROL=ignoreboth
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd;exit:date:* --help"
# Include timestamps when displaying history
export HISTTIMEFORMAT="%F %T "

# Make sure history always exists in history file
export PROMPT_COMMAND="history -n; history -a"

# Set the path
export PATH=$PATH:$HOME/.rvm/bin # Add RVM to PATH for scripting

# Python Library Path
export PYTHONPATH=~/lib/python2.7/site-packages

export JAVA_HOME=$(/usr/libexec/java_home)

export NVM_DIR=~/.nvm
